
body {
  margin: 0;
  padding: 0;
}
.search-row {
  background-color: pink;
  border-bottom: 3px solid teal;
  padding: 25px 0px 20px 0px;
}
.inputLabel {
  color: teal;
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 0;
}
#userInput {
  width: 250px;
}
#submitButton {
  background-color: teal;
  border-radius: 5px;
  color: white;
  width: 80px;
}
#cartoonButtons {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 0px;
  background-color: pink;
  min-height: 100vh;
}
.characterButton {
  background-color: teal;
  color: white;
  height: 40px;
  margin: 5px 0px;
  padding: 3px;
  width: 90%;
}
#cartoonImages {
  padding: 5px 0px;
}
.gifResult {
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
}
.gifRating {
  text-align: center;
  color: teal;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
