.carousel-item img {
  height: 300px;
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
}
    .carousel-caption h1{
      color: black;
      font-size: 55px;
    }
    .carousel-caption p{
      color: #212121;
      font-size: 25px;
    }
.search-row {
  background-color: pink;
  border: 1px solid black;
  padding: 15px;
}
    input {
      height: 40px;
      width: 100%;

    }
    .submitBtn {
      height: 40px;
      width: 100px;
      border-radius: 0;
    }
#gifButtons {
  background-color: pink;
  height: 100vh;
}
#gifImages {
  background-color: teal;

}
