
.search-row {
  background-color: pink;
  padding: 15px;
}
    input {
      
    }
    .submitBtn {
      height: 40px;
      width: 100px;
      border-radius: 0;
    }
#cartoonButtons {
  background-color: pink;
  min-height: 100vh;
}

.characterButton {
  background-color: teal;
  color: white;
  height: 40px;
  margin: 5px 5px;
  padding: 5px;
  width: 100%;

}
